[{$smarty.block.parent}]
[{assign var="oPageNavigation" value=$oView->getPageNavigation()}]
[{if $actCategory->oxcategories__oxlongdescb->value && $oPageNavigation->actPage == 1}]
    <div id="catLongDescLocatorBottom" class="categoryDescription">[{oxeval var=$actCategory->oxcategories__oxlongdescb}]</div>
<hr>
    [{/if}]
